<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      {{!-- Image --}}
      <div class="media-left">
        <img class="media-object movie-image" src="{{imagePath media accession_number}}"></img>
      </div>

      <div class="media-body">
        {{!-- Title --}}

        <h2 class="media-heading title">
          <a href="entire_record.html?bibnum={{bibnumber}}">{{title}}</a>
          &nbsp;<span class="badge media-badge">{{media}}</span>
        </h2>
        {{!-- Media --}}


        {{!-- Summary (TODO:Truncate) --}}
        {{#if summary}}
          <p>{{summary}}</p>
        {{/if}}

        {{!-- Location, Call number, Status --}}

        <p>{{formatCallNumber accession_number location media}}</p>


        {{!-- Cast (TODO:Truncate)--}}
        {{#if cast}}
          <p><strong>Cast:</strong> {{cast}}</p>
        {{/if}}

        {{#if language}}
          <p><strong>Language:</strong> {{language}}</p>
        {{/if}}

        {{#if rating}}
          <p><strong>Rating:</strong> {{rating}}</p>
        {{/if}}

        {{#if note}}
          <p><strong>Note:</strong> {{note}}</p>
        {{/if}}

        {{#if url}}
          <a href="{{url}}">See library catalog entry</a>
        {{/if}}

      </div>
    </div>
  </div>
</div>
